<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">

  </head>

<h1>Welcome the Restaurant database!</h1>
<a href="/cuisines/new">Add a new Cuisine!</a> <br>
<a href='/restaurants'>Add a new Restaurant!</a>

</html>
